body {
  background-color: #343338;
}
h1,
p {
  margin: 0px;
  padding: 0px;
  line-height: normal;
  border: 1px 0px 1px 1px solid #eee;
}

.feedback {
  background-color: #fff;
  width: 430px;
  height: 440px;
  border-radius: 3px;
  margin: 50px auto;
  padding: 15px;
}
h1 {
  font-size: 1.2rem;
  color: #336699;
  margin-bottom: 10px;
}
ul.type li {
  display: inline-block;
}
ul.type li.active a {
  background-color: #336699;
  color: white;
  position: relative;
  text-decoration: none;
}
ul.type li.active a:after {
  top: 100%;
  left: 50%;
  border: solid rgba(0, 0, 0, 0);
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-width: 5px;
}
ul li a {
  background-color: #f1f1f1;
  padding: 5px;
  border-radius: 3px;
  color: #555;
  text-decoration: none;
}
ul li a:hover {
  background-color: #336699;
  color: white;
}
ul li a .speed li:first-child a :hover {
  background-color: #57a854;
}
ul li a .speed li:last-child a :hover {
  background-color: #208cd6;
}
.form {
  margin-top: 10px;
}
.form ul {
  border: 1px solid #e6e6e6;
  width: 35px;
  height: 35px;
}
.form textarea {
  min-height: 150px;
  width: 390px;
}
.form input {
  width: 390px;
}
.form input,
textarea {
  border-radius: 3px;
  border: 1px solid #e6e6e6;
}
button .success {
  padding: 10px;
  background-color: #339966;
  margin-top: 20px;
}
