* {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
}
.container {
  max-width: 80%;
  max-height: 80%;
  background-color: #e6e6e6;
  border: 2px solid #f4f4f4;
  box-shadow: 2px 2px 2px #e6e6e6;
  justify-content: center;
  margin-inline-start: 40px;
  margin-top: 80px;
}
.title {
  text-align: center;
  margin: 20px;
}
.text {
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 50px;
}
.text p {
  padding: 20px;
}
